@model List<DemoMovies.ViewModels.ModifyUsersModel>;

@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.PageName = "Modify Users";
}

    <div class="list-of-users">
        <h1 class="modify-user-movie">ModifyUsers</h1>
        <table class="table">
            <thead class="table-header">
                <tr>
                    <th>User</th>
                    <th>Action</th>
                    <th>Manage Admin Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in @Model)
                {
                    <tr>
                        <td>@user.Username</td>
                        <td>
                            <a asp-controller="User" asp-action="Modify" asp-route-id="@user.Id">Modify</a> |
                            <a asp-controller="User" asp-action="ChangePassword" asp-route-id="@user.Id">Change Password</a> |
                            <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to delete this user')">Delete</a>
                        </td>
                        <td>
                            @if (user.IsAdmin)
                            {
                                <a asp-controller="User" asp-action="RemoveAdminRole" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to remove admin role from @user.Username')">Remove Admin Role</a>
                            }
                            else
                            {
                                <a asp-controller="User" asp-action="GiveAdminRole" asp-route-id="@user.Id" onclick="return confirm('Are you sure you want to give admin role to @user.Username')">Give Admin Role</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>