@model DemoMovies.ViewModels.MovieOverviewDataModel;

@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
    ViewBag.PageName = "Home";
}

@section Styles {
    <link href="~/css/movieOverview.css" rel="stylesheet"/>
    <link href="~/css/sidebar.css" rel="stylesheet" />
}

<div class="search-bar" id="searchBar">
    <form asp-controller="Movie" asp-action="Overview" class="form-inline">
        <div class="form-group">
            <input name="Title" value="" id="title" class="form-control" placeholder="Search" />
            <div class="form-group" id="searchButton">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@if (@Model.MovieOverview.Count == 0)
{
    <div class="not-found">
        <p>No results found</p>
    </div>
}
<div class="row">
    <div class="col-md-9">
        <div class="row">
            @foreach (var movie in @Model.MovieOverview)
            {
                if (movie.IsApproved)
                {
                    <div class="col-lg-3">
                        <div class="card">
                            <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.Id">
                                <img src="@movie.ImageUrl" class="card-img-top" height="300" width="120">
                            </a>
                            <div class="card-body">
                                <h5 class="card-title">@movie.Title (@movie.YearReleased)</h5>
                                <div class="card-text">
                                    <p>@movie.Genre</p>
                                    <p>Created @movie.DaysCreated days ago</p>
                                    <p>@movie.Views Views</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="col-md-3">
        <partial name="SidebarPartial" for="SideBarData" />
    </div>
</div>
